@model IEnumerable<NGODonationApp.Models.Users>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<head>
    <style>

        st
        td,
        th {
            border: 1px solid rgb(190, 190, 190);
            padding: 10px;
        }
        th{
            background-color: #eac9b0 !important
        }

        td {
            text-align: center;
        }

        tr:nth-child(even) {
            background-color: #eee;
        }

        th[scope='col'] {
            background-color: #696969;
            color: #fff;
        }

        th[scope='row'] {
            background-color: #d7d9f2;
        }

        caption {
            padding: 10px;
            caption-side: bottom;
        }

        table {
            border-collapse: collapse;
            border: 2px solid rgb(200, 200, 200);
            letter-spacing: 1px;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif: 0.93rem;
            width:85%!important
        }
    </style>
</head>
<h2>User Managment </h2>

<p style="display: block;
    text-align: right;
width:70%;">
    <a asp-action="Create" style="color:#eac9b0; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, monospace;">New User</a>
</p>
<table class="table">
    <thead>
        <tr>
            @* <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            @* <th>
                @Html.DisplayNameFor(model => model.Password)
            </th> *@
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
@*                 <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td> *@
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                @* <td>
                    @Html.DisplayFor(modelItem => item.Password)
                </td> *@
                @* <td>************</td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Role)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id=item.UserId}) |
@*                     @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
 *@                    @Html.ActionLink("Delete", "Delete", new { id=item.UserId })
                </td>
            </tr>
        }
    </tbody>
</table>
